@model List<Post>
@using App.Components;
@{
    List<Category>? categories =ViewBag.categories as List<Category>;
    Category? category= ViewBag.category as Category;
    ViewData["Title"] =(category!=null)?category.Title:"Bài viết trong tất cả các danh mục";
    var currentPage = ViewBag.CurrentPage ?? 1; 
    var totalPages = ViewBag.TotalPages ?? 1;
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/">Home</a></li>
    @if(category !=null)
    {
        var li = category.ListParents();
        foreach(var l in li)
        {
            <li class="breadcrumb-item" >
                <a asp-action="Index" asp-route-categoryslug="@l.Slug">@l.Title</a>
            </li>
        }
    }
    @* aria-current="page" *@
  </ol>
</nav>

<h1>@ViewData["Title"]</h1>
@if(category!=null)
{
    <p>@Html.Raw(category.Dscription)</p>
}
else{
    <p>Bài viết trong tất cả các danh mục ...</p>
}
<hr>
@foreach(var post in Model)
{
    <div class="d-flex border-bottom mb-3 pb-3">
        <img class="me-3 w-25" src="/contents/abc/nophoto.jpg" alt="...">
        <div class="flex-grow-1">
            <h5 class="mt-0">
                <a asp-controller="ViewPost" asp-action="Detail" asp-route-postslug="@post.Slug">
                    @post.Title
                </a>
            </h5>
            @post.Description
            <div>
                Chủ đề:
                <strong class="text-danger">
                    @post.PostCategories!.FirstOrDefault()?.Category!.Title
                </strong>
            </div>
            <div class="author-row">
                Tác giả: <strong>@post.Author!.UserName</strong> |
                Ngày cập nhật: <i>@post.DateUpdated.ToShortDateString()</i>
            </div>
        </div>
    </div>
}
@if(ViewBag.totalItems!=0)
{
    <div class="pagination">
        @if (currentPage > 1)
        {
            <a href="@Url.RouteUrl("PostRoute", new { categoryslug = ViewBag.categoryslug, page = currentPage - 1 })">&lt;</a>
        }

        @for (int i = 1; i <= totalPages; i++)
        {
            if (i == currentPage)
            {
                <a href="@Url.RouteUrl("PostRoute", new { categoryslug = ViewBag.categoryslug, page = i })" class="active">@i</a>
            }
            else
            {
                <a href="@Url.RouteUrl("PostRoute", new { categoryslug = ViewBag.categoryslug, page = i })">@i</a>
            }
        }

        @if (currentPage < totalPages)
        {
            <a href="@Url.RouteUrl("PostRoute", new { categoryslug = ViewBag.categoryslug, page = currentPage + 1 })">&gt;</a>
        }
    </div>
}




@section Sidebar{
    @await Component.InvokeAsync("App.Components.CategorySidebar",new CategorySidebar.CategorySidebarData(){
        Categories=categories,
        level=0,
        categoryslug=ViewBag.categoryslug
    })
} 
