@model List<ProductModel>
@using App.Components;
@{
    List<CategoryProduct>? categories =ViewBag.categories as List<CategoryProduct>;
    CategoryProduct? category= ViewBag.category as CategoryProduct;
    ViewData["Title"] =(category!=null)?category.Title:"Tất cả các sản phẩm";
    var currentPage = ViewBag.CurrentPage ?? 1; 
    var totalPages = ViewBag.TotalPages ?? 1;
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/">Home</a></li>
    @if(category !=null)
    {
        var li = category.ListParents();
        foreach(var l in li)
        {
            <li class="breadcrumb-item" >
                <a asp-action="Index" asp-route-categoryslug="@l.Slug">@l.Title</a>
            </li>
        }
    }
    @* aria-current="page" *@
  </ol>
</nav>

<h1>@ViewData["Title"]</h1>
@if(category!=null)
{
    <p>@Html.Raw(category.Description)</p>
}
else{
    <p>Toàn bộ sản phẩm trong tất cả các danh mục ...</p>
}
<hr>
<div class="d-flex flex-wrap justify-content-between">
    @foreach(var product in Model)
    {
        var srcImg="/contents/abc/nophoto.jpg";
        if(product.Photos!.Any())
        {
            srcImg = $"/contents/Products/{product.Photos!.FirstOrDefault()!.FileName}";
        }
        <div class="card mb-2" style="width: 32%; min-height: 450px;">
            <img src="@srcImg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <p class="card-text">@product.Description</p>
                <p>
                    <strong class="text-danger">
                        @product.productCategoryProducts!.FirstOrDefault()?.Category!.Title
                    </strong>
                </p>
                <p>Giá: <strong>@product.Price</strong></p> 
            </div>
            <div class="mt-auto d-flex justify-content-center" style="margin-bottom: 10px;">
                <a class="card-link" asp-controller="ViewProduct" asp-action="Detail" asp-route-productslug="@product.Slug">
                    Chi tiết
                </a>
                <a asp-action="AddToCart" asp-route-productid="@product.ProductId" class="ms-4 btn btn-primary">Đặt hàng</a>
            </div>
        </div>
    }
</div>
@if(ViewBag.totalItems!=0)
{
    <div class="pagination">
        @if (currentPage > 1)
        {
            <a href="@Url.RouteUrl("PostRoute", new { categoryslug = ViewBag.categoryslug, page = currentPage - 1 })">&lt;</a>
        }

        @for (int i = 1; i <= totalPages; i++)
        {
            if (i == currentPage)
            {
                <a href="@Url.RouteUrl("PostRoute", new { categoryslug = ViewBag.categoryslug, page = i })" class="active">@i</a>
            }
            else
            {
                <a href="@Url.RouteUrl("PostRoute", new { categoryslug = ViewBag.categoryslug, page = i })">@i</a>
            }
        }

        @if (currentPage < totalPages)
        {
            <a href="@Url.RouteUrl("PostRoute", new { categoryslug = ViewBag.categoryslug, page = currentPage + 1 })">&gt;</a>
        }
    </div>
}




@section Sidebar{
    @await Component.InvokeAsync("App.Components.CategoryProductSidebar",new CategoryProductSidebar.CategorySidebarData(){
        Categories=categories,
        level=0,
        categoryslug=ViewBag.categoryslug
    })
} 
